body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: azure;
}

table, tr, td {
    border: 2px dotted rgb(116, 167, 233);
    /*border-collapse: collapse;*/
    margin: 2px;
    padding: 15px;
}
table {
    width:100%;
}
p {
    color:blue;
}

#phone {
    font-size: 1.5em;
}
h1, h2 {
    color: rgb(48, 35, 68);
}

.title {
    font-style:italic;
}

.date {
    font-weight: bold;
}

address{
    font-size: 1.5em;
}
div p { /*the p tags that are within divs */
    color:rgb(103, 180, 26);
}